body {
  font-size:12px;
}

pre {
  font-size:11px;
}

.divider {
position: relative;
border-bottom: 1px solid #f0f0f0;
margin-bottom: 5px;
margin-top: 5px;
}

.tabs-min {
    background: transparent;
    border: none;
}
.tabs-min .ui-widget-header {
    background: transparent;
    border: none;
    border-bottom: 1px solid #c0c0c0;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    border-radius: 0px;
}
.tabs-min .ui-tabs-nav .ui-state-default {
    background: transparent;
    border: none;
}
.tabs-min .ui-tabs-nav .ui-state-active {
    background: transparent url(img/uiTabsArrow.png) no-repeat bottom center;
    border: none;
}

.tabs-min .ui-tabs-nav .ui-state-focus a {
    outline: none;
}

.tabs-min .ui-tabs-nav .ui-state-default a {
    color: #101010;
}
.tabs-min .ui-tabs-nav .ui-state-active a {
    color: #1010de;
}
